<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
        body {
            /* margin: 0;
            /* padding: 10px; */
            /* overflow: hidden; */ 
            background-color: black; /* Set the background color to black */
        }

        .image {
            max-width: 100%; /* Adjust the percentage as needed */
            height: 800px;
            display: block;
            margin: 0 auto; /* Center the image */
        }
    </style>
</head>
<body>
    <h1 style="color: aliceblue; font-family: monospace; margin: 20px;">Page not found :(</h1>
    <img class="image" src="https://i.kym-cdn.com/entries/icons/mobile/000/026/489/crying.jpg" alt="Sad Cat">
</body>
</html>
