<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Auto Assignment Index</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .resized-gif {
            max-width: 80%; /* Adjust the percentage as needed */
            height: 900px;
            display: block;
            margin: 0 auto; /* Center the image */
        }
    </style>
</head>
<body>
    <img class="resized-gif" src="static/pixel2.jpg" alt="Resized GIF">
</body>
</html>
