<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Auto Assignment Index</title>
    <style>
        body {
            margin: 0;
            padding: 50px;
            overflow: hidden;
            background-color: black; /* Set the background color to black */
        }

        .image {
            max-width: 80%; /* Adjust the percentage as needed */
            height: 900px;
            display: block;
            margin: 0 auto; /* Center the image */
        }
    </style>
</head>
<body>
    <!-- <img class="image" src="https://cs13.pikabu.ru/post_img/big/2023/05/12/1/168384800616820378.jpg" alt="JPG"> -->
    <h1>Hello World</h1>
</body>
</html>
